@font-face {
  font-family: "squidbedrock";
  src: url("https://ignitedsstudios.github.io/IgnitedsLauncher/src/fonts/titles.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mont-extralight";
  src: url("./fonts/Mont-HeavyDEMO.otf") format("truetype");
}

* {
  font-family: "squidbedrock";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none; /* Para navegadores modernos */
  -webkit-user-select: none; /* Para Safari */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para Internet Explorer/Edge */
  margin: 0;
  font-family: "squidbedrock", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://ignitedsstudios.github.io/IgnitedsLauncher/src/img/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #1c0235;
}

.App {
  text-align: left; /* Cambia el texto a la izquierda */
  position: relative;
  min-height: 100vh;
  width: 100%; /* Asegura que la aplicación ocupe todo el ancho disponible */
}

.App-header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  color: #ffffff;
  font-size: 1.6em;
  margin-left: 20px;
}

.content {
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.start-button img {
  width: 40%; /* Aumenta el tamaño de la imagen */
  object-fit: contain;
}

.download-button {
  font-family: "mont-extralight", sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #333333;
}
